<div class="row">
  <div class="col-xs-12">
    <h1>Category: <%= @category.name %></h1>
    <% if logged_in? && current_user.admin? %>
      <span class="badge"><%= link_to 'Edit category name', edit_category_path(@category) %></span>
    <% end %>
  </div>
</div>

<div class="row">
  <div align="center">
    <%= will_paginate @category_articles %>
  </div>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div class="row">
  <div align="center">
    <%= will_paginate @category_articles %>
  </div>
</div>
