<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to image_tag('logo-alpha-blog.png'), pages_home_path %></h1>

    <ul>
      <li><%= link_to 'Home', pages_home_path %></li>
      <li><%= link_to 'About', pages_about_path %></li>
    </ul>

    <%= render 'layouts/messages' %>

    <%= yield %>
  </body>
</html>
